*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    /* DATOS-CONTACTO----PADRE---------- */
    .datos-contacto{
        margin: 0px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color:#FEAC5A;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color:whitesmoke;
        height: 80px;
        
    }
    .correos{
        /* display: flex;
        justify-content: flex-start; */
        height: 100%;
        margin-left: 10px;

    }
    

    .iconos-superiores i{
        

        border-radius:50% ;
        background-color: teal;
        color: #FD7E14;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 10px;
        padding-top: 8px;
    }
    .iconos-superiores i:hover{
        background-color: whitesmoke;
        color: teal   ;
    }
    